body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 50px;
  }
  
  .page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
  }

  /* box1 */
  .box1 {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    left: 0px;
    width: 550px;
    height: 350px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .text {
    position: relative;
    bottom: 50px;
    margin-top: 10px;
    z-index: 2px;
    color: white;
  }
  .time1 {
    font-size: 0.8rem;
    color: white;
    text-shadow: 1px 1px 1px rgb(9, 9, 9);
    margin-bottom: 30px;
    position: absolute;
    left: 18px;
    bottom: 15px;
    
  }
  .title1 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 10px;
    position: absolute;
    bottom: 5px;
    left: 15px;
  }
  .title1 a {
    color: white;
    text-shadow: 2px 2px 3px black;
  }

/* box2 */
  .box3 {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 350px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .text {
    padding: 15px;
    color: white;
  }
  .time3 {
    font-size: 0.8rem;
    color: white;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 30px;
    position: absolute;
    left: 15px;
    top: -40px;
  }
  .title3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    position: absolute;
    top: -20px;
    left: 15px;
  }
  .title3 a {
    color: white;
    text-shadow: 2px 2px 3px black;
  }

/* box3 */
  .box2 {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    left: 605px;
    width: 250px;
    height: 150px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .text {
    padding: 15px;
    color: white;
  }
  .time2 {
    font-size: 0.8rem;
    color: white;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 30px;
    position: absolute;
    left: 15px;
    bottom: 47px;
  }
  .title2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    position: absolute;
    bottom: -5px;
    left: 15px;
  }
  .title2 a {
    color: white;
    text-shadow: 2px 2px 3px black;
  }
 
/* box4 */
  .box4 {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    top: 200px;
    right: 0px;
    width: 250px;
    height: 150px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .text {
    padding: 15px;
    color: white;
  }
  .time4 {
    font-size: 0.8rem;
    color: white;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 30px;
    position: absolute;
    left: 15px;
    bottom: 47px;
  }
  .title4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    position: absolute;
    bottom: -5px;
    left: 15px;
  }
  .title4 a {
    color: white;
    text-shadow: 2px 2px 3px black;
  }


  .more-nasa {
    position: relative;
    bottom: 440px;
    right: 50px;
    text-align: right;
    margin-top: 20px;
    
  }
  
  .more-link a {
    font-size: 2rem;
    color: black;

  }